body {
    background-image: url("assets/css/images/skywardsword.jpeg");
    background-size: cover;
}

#instructions {
    background-color:darkgray;
    color:black;
    width: 45%;
    font-family: Papyrus, fantasy;
    font-weight: bolder;

}

h1 {
    background-color: black;
    color: blue;
    font-family: Papyrus, fantasy;
}

#scoreboard {
    background-color: darkgray;
    font-family: Papyrus, fantasy;

}